.root{
    -fx-font-size: 14px;
}

.text-area {
    -fx-text-fill: blue;
}

.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-image: url("/img/Background.jpg");
    -fx-background-size: 100% 100%;
}

.button:hover {
    -fx-background-color: red;
}